<div>
  <header>
    <div class="header-logo">
      <img
        src="https://s3-alpha-sig.figma.com/img/dcd1/358e/7b680e54855cc5372776bacc16e446c8?Expires=1661731200&Signature=Q8Iai8ONMBbfVqBxs44JS9ExeX3g8IkoK9z3UOj75Gi6kLDh66nRW7B21U1A24Yk4EoO68c8iVyVKp55BAX91DMlcMSV2YQZZVOLtNR-WTVeJupLw~sOtzJhtr3M4Sm6Odmsee8WFwOK2qDfqPAS6kQrOmZvzNclNugERSz3c7MTv1v~xzorWRtNMueflUZVH6C1QRSEIJSnGecjMMsxKV4~NL29QcMnqx1mQMieXY3QUqFs~DsJgvltukX1f7bIqZkkpy2K1sH~iNFSZiN5hLpGW~ZaS358n5YORd9T5BCBe5eD-dx8KUxhLljH2aIrKndLVmpbu4MtZe6RjDaTYg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt="Koroboard"
      />
    </div>
    <div class="header-control">
      <div class="header-control-left">
        <button>Q4 Strategy Pillar Drive</button>
        <a href="#">Change Project</a>
      </div>
      <a href="#">+ New Project</a>
    </div>
  </header>
  <div class="container">
    <!-- sidebar -->

    <aside>
      <!-- sidebar-card -->
      <div class="account-details">
        <span class="material-symbols-outlined"> account_circle </span>
        <h2>Souptik Chatterjee</h2>
        <p>souptik@koroboard.com</p>
      </div>

      <!-- sidebar-navigation -->
      <ul>
        <li><span class="material-symbols-outlined"> home </span>Project</li>
        <li><span class="material-symbols-outlined"> group </span>Members</li>
        <li>
          <span class="material-symbols-outlined"> wallet </span>Subscription
        </li>
        <li>
          <span class="material-symbols-outlined"> settings </span>Account
        </li>
        <li><span class="material-symbols-outlined"> logout </span>Logout</li>
      </ul>
    </aside>

    <!-- main -->
    <main>
      <!-- main-info -->
      <div class="main-info">
        <!-- main-info-details -->
        <div class="main-info-details">
          <h2>Project Details</h2>
          <p>Title : <span> Q4 Strategy Pillar Drive</span></p>
          <p>
            Goal Description : <span>Roll-out of Quarter Strategy Plan</span>
          </p>
          <p>Start Date : <span> 01 September '21</span></p>
          <p>Target End Date : <span>30 November '21</span></p>
          <p>Status : <span>Ongoing Timely</span></p>
          <p>Days remaining for Completion : <span>4 Day(s)</span></p>
        </div>
        <!-- main-info-buttons -->
        <div class="main-info-buttons">
          <button class="btn-update">Update Details</button>
          <button class="btn-mark">Mark Completed</button>
          <button class="btn-download">Download PDF</button>
        </div>
      </div>
      <!-- main-cards-component -->
      <div class="cards-section">
        <app-card
          *ngFor="let card of cards"
          [number]="card.number"
          [info]="card.info"
          [link]="card.link"
        ></app-card>
      </div>
    </main>
  </div>
</div>
